<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Image compression</string>
			<key>Key</key>
			<string>FPKImageCacheCompression</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>PNG</string>
				<string>JPEG</string>
			</array>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>1.0</string>
				<string>True to pixels (2.0 on Retina)</string>
				<string>Anamorphic (half width on Retina)</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Retina image scaling</string>
			<key>Key</key>
			<string>FPKImageCacheScaling</string>
			<key>DefaultValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>Image cache compression level</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>FPKImageCacheCompressionLevel</string>
			<key>DefaultValue</key>
			<real>0.8</real>
			<key>MinimumValue</key>
			<real>0.1</real>
			<key>MaximumValue</key>
			<real>1</real>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>FPKForceTiles</string>
			<key>Title</key>
			<string>Force tile rendering</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
