{
	"CFBundleDevelopmentRegion" = en;
	CFBundleIdentifier = "com.mobfarm.fastpdfkit";
	CFBundleName = "FastPdfKit";
	"CFBundleShortVersionString" = "0.9";
	CFBundleVersion = "0.9";
	"DocSetCertificateIssuer" = "";
	"DocSetCertificateSigner" = "";
	DocSetDescription = "";
	DocSetFallbackURL = "";
	DocSetFeedName = "FastPdfKit Documentation";
	DocSetFeedURL = "http://fastpdfkit.com/docset/docset.atom";
	"DocSetMinimumXcodeVersion" = "3.0";
	DocSetPlatformFamily = "";
	"DocSetPublisherIdentifier" = "com.mobfarm";
	DocSetPublisherName = "MobFarm S.r.l.";
	"NSHumanReadableCopyright" = "Copyright © 2011 MobFarm S.r.l.. All rights reserved.";
}