<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.mobfarm.fastpdfkit</string>
	<key>CFBundleName</key>
	<string>FastPdfKit</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2</string>
	<key>CFBundleVersion</key>
	<string>3.2</string>
	
	
	
	
	<key>DocSetFeedName</key>
	<string>FastPdfKit Documentation</string>
	<key>DocSetFeedURL</key>
	<string>http://doc.fastpdfkit.com/docset.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DocSetPublisherIdentifier</key>
	<string>com.mobfarm</string>
	<key>DocSetPublisherName</key>
	<string>MobFarm</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 MobFarm. All rights reserved.</string>
</dict>
</plist>
